@import  url("https://fonts.googleapis.com/css?family=Wallpoet&display=swap");

header{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height:25vh;
  margin-bottom: 5px;
  border-bottom:2px solid black;
  
}

section{
  border-bottom:3px solid black;
  height: 23vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}
.footersection{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  height:200px;
  border-bottom:none;
}

.sign-up-form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border:3px black solid;
  width:90%;
  height:90%;
  border-radius: 13px;


  
}

.sign-up-form label{
  font-size:22px;

  }
  .login-section{
    background-color:aquamarine;
  }


.signup-section{
  border-bottom: none;
  height: 30vh;
  margin-left:auto;
  margin-right:auto;
  border-bottom:3px solid black;
  background: rgb(255,175,0);
background: linear-gradient(90deg, rgba(255,175,0,1) 0%, rgba(204,19,19,1) 46%, rgba(3,2,0,1) 100%);
}

.red{
  color:red;
  font-weight: bold;
  font-size:18px;
}

.login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:30px;
  border:3px solid black;

}

table{
  border-collapse:collapse;
  width: 100%;
}

table, th, td{
  border:1px solid black;
}
.landing-page-header{
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-around;
  color:white;
  background: rgb(6,6,6);
  background: linear-gradient(90deg, rgba(6,6,6,1) 1%, rgba(204,37,19,1) 46%, rgba(255,141,0,1) 100%);  
  height:20vh;
  border-bottom:black 3px solid;
 

}

.zap-logo{
  font-family: 'Wallpoet', cursive;

}
.lpbg{
  height:20vh;
  border-bottom:black 3px solid;
  
}