.inventory-head {
  background: rgb(11,19,43);
background: linear-gradient(90deg, rgba(11,19,43,1) 0%, rgba(28,37,65,1) 35%, rgba(91,192,190,1) 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0px;
}

.inventory-items {
  height: 80vh;
  justify-content: flex-start;
  background-color: #1c2541;
}
.sortbutton {
  display: inline-block;
  padding: 0.7em 1.7em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  color: #1c2541;
  background-color: #ffffff;
  box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
    inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
    inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
  text-align: center;
  position: relative;
  height: 40px;
  width: 80px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  font-size:16px;
}
.sortbuttons {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 90%;
 
}

.createitembutton {
  display: inline-block;
  padding: 0.7em 1.7em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  color: #1c2541;
  background-color: #ffffff;
  box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
    inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
    inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
  text-align: center;
  position: relative;
  height: 50px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size:15px;
  font-weight: bold;
}

.cellbutton {
  display: inline-block;
  padding: 0.7em 1.7em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  color: #1c2541;
  background-color: #ffffff;
  box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
    inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
    inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
  text-align: center;
  position: relative;
  height: 25px;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3px;
}
button:hover {
  color: #ffffff;
  background-color: #5bc0be;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

a:hover{
  
  
  color:#5bc0be;
  transition: all 1s;
  color:gray;
  transition:all 1s;
}
thead {
  width: 90%;
}
.single-item{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
  height:10vh;
}

.createbutton{
 margin-left:auto;
 display: flex;
 flex-direction: column;
 width:160px;
 font-weight: bold;
 font-size: 20px;
}

@media only screen and (min-width:600px)
{
  .updelete {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  td{
    font-size:22px;
    overflow-wrap: break-word; 
  }
  .sortbuttons {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 90%;
    
  }
}

@media only screen and (min-width:900px){
  .sortbuttons {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 90%;
    
  }
}
