@media 
only screen and (max-width: 600px)
{

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Item Name"; }
	td:nth-of-type(2):before { content: "Item Description"; }
	td:nth-of-type(3):before { content: "Qty"; }
	td:nth-of-type(4):before { content: "Unit Type  "; }
  td:nth-of-type(5):before { content: "Unit Price"; }
  td:nth-of-type(6):before { content: "Location"; }
  td:nth-of-type(7):before { content: "Update/Delete"; }
  
  



table { 
  width: 90%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items:center ;
  overflow-wrap: break-word;

   
  border: 1px solid #5BC0BE; 
   
  background-color:#1C2541;
}

th{
  display: none;
}

@media only screen and (min-width:600px) {
	table{
		width:90%;
	}
	
}



}